mat-sidenav {
  width: 10%;
  height: 100%;
}

mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav-content {
  height: 100%
}

mat-list-item:hover {
  background-color: #fafafa;
}
