<mat-card>
  <mat-card-title>{{ project.name }}</mat-card-title>
  <mat-card-subtitle><span>Project Admin: {{ project.admin }}</span>
    <span style="float:right">Project Id: {{ project.id }}</span></mat-card-subtitle>
  <mat-card-content>{{ project.description }}</mat-card-content>
  <app-item *ngFor="let itm of items" [item]="itm"></app-item>
</mat-card>
