mat-card {
  width: 300px;
  margin: 10px;
  height: 200px;
}

app-item {
  max-height: 100px;
  margin: 5px;
  border: lightgray 2px solid;
  border-radius: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
}
