<section class="content">
    <h2>Projects</h2>
    <div style="display:flex; flex-wrap:wrap">
    <app-project *ngFor="let proj of projects" [project]="proj"></app-project>
  </div>
</section>
<section class="content">
    <h2>Users</h2>
    <div style="display:flex; flex-wrap:wrap">
    <app-user *ngFor="let usr of users" [user]="usr"></app-user>
  </div>
</section>
